Don't include IACA certificate in credentials

This is a violation of ISO/IEC 18013-5:2021 clause 9.1.2.4 ("Signing of the MSO") which explicitly states:

> The unprotected header of the COSE_Sign1 structure shall contain the certificate of the Document Signer (DS) or a certificate chain containing the DS certificate and any intermediate certificates up to, but not including, the Root CA (IACA) certificate, using the 'x5chain' header parameter (COSE header parameter 33) as specified in RFC 9360.
