Invalid Authorization server metadata

I was trying to use your public issuer with our (Walt.id) wallet and it was rejected due to the following issue:

RFC 8414 §2 says of token_endpoint_auth_signing_alg_values_supported:
> token_endpoint_auth_signing_alg_values_supported
      OPTIONAL.  JSON array containing a list of the JWS signing
      algorithms ("alg" values) supported by the token endpoint for the
      signature on the [JWT](https://datatracker.ietf.org/doc/html/rfc8414#ref-JWT) [JWT] used to authenticate the client at the
      token endpoint for the "private_key_jwt" and "client_secret_jwt"
      authentication methods.  This metadata entry MUST be present if
      either of these authentication methods are specified in the
      "token_endpoint_auth_methods_supported" entry.  No default
      algorithms are implied if this entry is omitted.  Servers SHOULD
      support "RS256".  The value "none" MUST NOT be used.

The multipaz metadata blob advertises "token_endpoint_auth_methods_supported": ["private_key_jwt", "attest_jwt_client_auth"] and does not include token_endpoint_auth_signing_alg_values_supported.

You can check the live metadata here: https://issuer.multipaz.org/.well-known/oauth-authorization-server/issuer

Steps to reproduce:

We are trying to go via the pre-auth flow issuing an mDL for Noah Hermann. However, due to the nature of the bug it's likely to affect all issuance flows.

Thanks!