X509CertChain.toX5c() is broken

If you pass a certificate chain of length one with a self-signed certificate and `excludeRoot` set to `true`, then it produces an empty chain. According to RFC 7515 Section 4.1.6, an x5c JOSE header parameter must contain at least one certificate.